@import "tailwindcss";

/* @layer base { */
  /* ================= LIGHT MODE ================= */
 :light {
  /* Base Colors */
  --black: #121212;
  --golden: #D4AF37;
  --golden-hover: #AA8B22;
  --white: #FFFFFF;
  --red: #E11D48;

  /* Theme Mapping - Premium Dark-Glass for Accent */
  --bg-primary: #FFFFFF;
  --bg-secondary: #F8F9FA;
  --bg-accent: #0f0f11b8; /* Clean Noir instead of Brown */

  --text-primary: #121212;
  --text-secondary: #4B5563;
  --text-on-dark: #FFFFFF;

  --accent-gold: #D4AF37;
  --accent-gold-hover: #AA8B22;
  --brand-red: #E11D48;
  --border-color: #E5E7EB;
}

/* ================= DARK MODE ================= */
:root {
  --bg-primary: #121212;
  --bg-secondary: #1E1E1E;
  --bg-accent: #08080A; /* Deeper Premium Black */

  --text-primary: #FFFFFF;
  --text-secondary: #9CA3AF;
  --text-on-dark: #FFFFFF;

  --accent-gold: #E5C158;
  --accent-gold-hover: #D4AF37;
  --brand-red: #F43F5E;
  --border-color: #2E2E2E;
}
/* } */

/* Global body styling using CSS Variables */
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}
button{
  white-space: nowrap;
}